:root {
    // styling tweaks
    --main-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    --rounded: 4px;
    
    // color palette
    --light-pink: #FCCFCF;
    --salmon: #F58A8A;
    --twilio-red: #F22F46;
    
    --light-blue: #CCE4FF;
    --royal-blue: #008CFF;
    --navy: #001489;
    
    --btn-primary: #2763E0;
    --text-main-color: #030B5D;
    --text-secondary: #D61F1F;

    --footer-text: #95979B;
    --footer-bg: #0E1229;
    --footer-text: #95979B;

    --twilio-light-gray: #F4F4F6;

    // text size
    --text-main: 16px;
    --text-sub: 18px;
    --text-header: 53px;
    --text-information-header: 35px;
    --text-cards-header: 38px;
}